p{
    text-align: justify;
    text-justify: inter-word;
}

.bi{ /*if you want to style the icons*/
    font-size: 2rem;
    color: white;
    margin: 0.5%;
}
.bi:hover{ /*if you want to style the icons if being hovered*/
    color: #0d6efd;
}

.responsive-img { /*if you want to style the image on hero section*/
    width: 50%;
}

.logo-img { /*if you want to style the logo*/
    max-height: 50px;
    width: auto;
}

@media (max-width: 426px) { /*add more media queries (only if you want)*/
    .responsive-img {
        width: 75%;
    }
}





